body {
    font: normal 25pt arial;
    background-color: rgba(137, 37, 252, 0.807);
}

header {
    text-align: center;
}

section {
    background-color: white;
    margin-left: 25%;
    margin-right: 25%;
    border-radius: 15px;
    padding: 15px;
}

footer {
    text-align: center;
}