body {
    font: normal 25pt arial;
    background-color: rgb(148, 236, 236);
}

header{
    text-align: center;
}

section {
    background-color: white;
    border-radius: 15px;
    margin-left: 25%;
    margin-right: 25%;
}

footer {
    text-align: center;
}

